/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: darkolivegreen;
    padding-left: 70px;
    padding-right: 70px;
    padding-block-end: 20px;
}